/* 
Theme Name: 27Child 
Theme URL: http://yourdomain.com
Description: Twenty Seventeen Child 
Theme Author: Your Name
Author URL: http://yourdomain.com
Template: twentyseventeen 
Version: 1.0.0 
Text Domain: twentyseventeen-child 
*/
/* LibreFranklin regular */
a.foot-logo {margin-top: 10px;display:inherit;} 
@font-face {
	font-family: 'LibreFranklin';
	src: url('fonts/LibreFranklin/LibreFranklin-Regular.eot');
	src: url('fonts/LibreFranklin/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/LibreFranklin/LibreFranklin-Regular.woff2') format('woff2'),
		 url('fonts/LibreFranklin/LibreFranklin-Regular.woff') format('woff'),
		 url('fonts/LibreFranklin/LibreFranklin-Regular.ttf') format('truetype'),
		 url('fonts/LibreFranklin/LibreFranklin-Regular.svg#LibreFranklin_regularregular') format('svg');
	font-weight: 400;
	font-style: normal;
}
 
/* LibreFranklin italic */
 
@font-face {
	font-family: 'LibreFranklin';
	src: url('fonts/LibreFranklin/fonts/LibreFranklin/LibreFranklin-Italic.eot');
	src: url('fonts/LibreFranklin/fonts/LibreFranklin/LibreFranklin-Italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/LibreFranklin/fonts/LibreFranklin/LibreFranklin-Italic.woff2') format('woff2'),
		 url('fonts/LibreFranklin/fonts/LibreFranklin/LibreFranklin-Italic.woff') format('woff'),
		 url('fonts/LibreFranklin/fonts/LibreFranklin/LibreFranklin-Italic.ttf') format('truetype'),
		 url('fonts/LibreFranklin/fonts/LibreFranklin/LibreFranklin-Italic.svg#LibreFranklin_regularitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}
 
/* LibreFranklin bold */
 
@font-face {
	font-family: 'LibreFranklin';
	src: url('fonts/LibreFranklin/LibreFranklin-Bold.eot');
	src: url('fonts/LibreFranklin/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/LibreFranklin/LibreFranklin-Bold.woff2') format('woff2'),
		 url('fonts/LibreFranklin/LibreFranklin-Bold.woff') format('woff'),
		 url('fonts/LibreFranklin/LibreFranklin-Bold.ttf') format('truetype'),
		 url('fonts/LibreFranklin/LibreFranklin-Bold.svg#LibreFranklinbold') format('svg');
	font-weight: 700;
	font-style: normal;
}


#frm_form_4_container .with_frm_style .vertical_radio .frm_radio {

      display: inline-block;
      width: auto;
      float: left;
      padding: 8px;

  }
a.foot-logo {margin-top: 10px;display:inherit;}

/* Cutom alert box */
#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:300px;
	min-height:100px;
	margin-top:50px;
	border:1px solid #666;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:20px 30px;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	background-color:#BF012F;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:2px 0 2px 5px;
}

#alertBox p {
  font: 0.7em verdana,arial;
  height: 50px;
  padding: 10px 5px;
  text-align: center;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:5px auto;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#BF012F;
	border-radius: 3px;
	text-decoration:none;
}

/* unrelated styles */

#mContainer {
	position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	font:0.7em verdana,arial;
}

h1,h2 {
	margin:0;
	padding:4px;
	font:bold 1.5em verdana;
	border-bottom:1px solid #000;
}

code {
	font-size:1.2em;
	color:#069;
}

#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}

#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}

.important {
	background-color:#F5FCC8;
	padding:2px;
}

code span {
	color:green;
}

/* alert */
.alert {
        background-color: #e8a7a7;
        padding: 12px;
        color: #680303;
        border: 3px solid #680303;
        margin-bottom: 12px;
}
